@import 'tailwindcss';

:root {
  --background: #e6e4ff;
  --foreground: #01072c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

body {
  background: var(--background) url('/bg-pattern.svg') no-repeat fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.dark body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-greenlight: #a5b1d3;
  --color-dozeblue: #1e3a8a;
  --color-dozegray: #808080;
  --color-dozebg1: #f8f8f6;
  --color-dozebg2: #e6e4ff;
}
.dark {
  --background: #121212;
  --foreground: #a09f9f;

  --color-dozebg1: #1e1e1e;
  --color-dozebg2: #2a2a2a;
  --color-dozegray: #9ca3af;
  --color-dozeblue: #60a5fa;
  --color-greenlight: #001a30;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  background: linear-gradient(
    to right,
    rgba(229, 231, 235, 0.2) 0%,
    rgba(229, 231, 235, 0.5) 50%,
    rgba(229, 231, 235, 0.2) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
